.ui.cards .ui.card,
.card.ui {
  max-width: 150px;
}

.hand .ui.cards > .card {
  flex: 1;
  max-width: 150px;
}

.hand .ui.cards > .card:hover {
  transform: scale(1.3) !important;
}

.hand .ui.cards > .card .content {
  background-color: #1fc8db;
  background-image: linear-gradient(
    141deg,
    #e082d0 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  color: white;
}

.hand .ui.cards > .card .content .header {
  font-size: 1em !important;
  color: white;
}

.stable .ui.cards > .card {
  max-width: 150px;
  flex: 1;
}

.stable .ui.cards > .card:hover {
  transform: scale(1.3) !important;
}

.stable .ui.cards > .card .content {
  background-color: #1fc8db;
  background-image: linear-gradient(
    141deg,
    #e082d0 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  color: white;
}

.stable .ui.cards > .card .content .header {
  font-size: 1em !important;
  color: white;
}
